html {
    scroll-behavior: smooth;
}

.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    min-height: 350px;
    background-color: burlywood;
    flex-wrap: wrap;
    opacity: .5;
    transition: opacity .4s;
}

.project:hover {
    opacity: 1;
    transition: opacity .4s;
}

@media (max-width: 768px) {
    .project {
        opacity: 1;
        transition: opacity .4s;
    }
}


.one {
    background-image: url("https://i.imgur.com/ntOHDgZ.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.two {
    background-image: url("https://i.imgur.com/qerbuaH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 600px) {
    .project {
        min-width: 250px;
    }
}

.project__icon {
    position: relative;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .4s;
}

.project__icon:hover .project__icon_link {
    display: block;
}

.project__icon_link {
    position: absolute;
    display: none;
}

@media (max-width: 768px) {
    .project__icon_link {
        position: absolute;
        display: block;
    }
}

.project__icon_link a {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: #000;
    border: 2px solid #f26c4f;
    text-decoration: none;
    transition: all .5s;
}

.project__icon_link a:hover {
    background-color: #f26c4f;
    color: #fff;
    transition: all .5s;
}