.skill{
    padding: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    background-color: burlywood;
    height: 250px;
}
.skill__icon{
    width: 60px;
    height: 60px;
    background-color: #282c34;
}
.skill__title{
}