.header {
    display: flex;
    height: 80px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100000;

}

.header_wrapper {
    display: flex;
    font-size: .875rem;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    font-weight: 500;
    text-transform: uppercase;
}
